body {
    background-image: url(../images/regal.png)

}

.score1 {
   position: relative;
   left: 21%;
   top: -145px;
   background-color: aqua;
   padding: 18px;
   margin-right: 91%;
   
 
}

h1 {
    background-color: orange;
    padding: 20px;
    margin-right: 75%;
    color: aliceblue;
}

.parag {
    color: green;
    background-color: antiquewhite;
    margin-right: 60%;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 60px;
}

#result {
    padding: 40px;
    margin-right: 80%;
    background-color: green;
    font-size: 30px;
}

#previous {
    background-color: green;
    padding: 10px;
    margin-right: 80%;
    color: aliceblue;
}

#previousnum {
    background-color: green;
    margin-right: 80%;
    padding: 40px;
    color: aliceblue;
    font-size: 40px;
    margin-top: 10px;
}

.container1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -102px;
}


.container {
    margin-left: 20px;;
    height: 100px;
    width: 100px;
}


